{% extends "base.html" %}
{% load fetch_appointment_footer %}
{% block assets %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <script defer src="{% static 'js/libraries/bundled_libraries.js' %}"></script>
    <script defer src="{% static 'js/main_landing/bundled_main_landing.js' %}"></script>
{% endblock %}
{% block body %}
<div class="max-width-centered min-height-max">
    {% include "main_landing/menu/menu.html" %}
    {% include "main_landing/menu/mobile_menu.html" %}
    <main class="max-width-centered">
        {% include "main_landing/my_main_block/my_main_block.html" with main_block=page.name_blocks.first %}
        {% include "main_landing/services_block/services_block.html" with services_block=page.services_blocks %}
        {% include "main_landing/certificates_block/certificates_block.html" with certificates_block=page.certificates_blocks %}
        {% include "main_landing/xp_block/desktop/xp_block.html" with xp_block=page.experience_blocks.first %}
        {% include "main_landing/xp_block/mobile/xp_block.html" with xp_block=page.experience_blocks.first %}
        {% include "a_blog/blog_page_for_landing.html" with articles=articles %}
    </main>
    {% fetch_appointment_footer %}
</div>
{% endblock %}