<script>
    (function() {
        window.addEventListener('load', function() {
            const containers = document.querySelectorAll('.google-appointment-marker');
            containers.forEach(container => {
                calendar.schedulingButton.load({
                    url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ1W9G2l74hHM_SATkwB_vRevcybBl6OL5VyNKGMTFRpnnZWOJUphepK6DOmybdl0Lvu0yrp86Q2?gv=true',
                    color: '#000000',
                    label: "\u0417\u0430\u043F\u0438\u0441\u0430\u0442\u044C\u0441\u044F",
                    target: container,
                });
            })
        });
    })();
</script>