<div class="max-width-90">
    <section class="menu-div">
        <section class="menu-hrefs-div">
            <a class="href-button" href="/">Главная</a>
            <a class="href-button" href="/">Мой опыт</a>
            <a class="href-button" href="/">Услуги</a>
            <a class="href-button" href="/">Контакты</a>
            <a class="href-button" href="/">Статьи</a>
        </section>
        <section class="width-30">
            <div class="google-appointment-marker"></div>
        </section>
    </section>
</div>