{% load wagtailcore_tags %}
<header class="max-width-90 margin-top-1">
    <section class="menu-div">
        <section class="menu-hrefs-div">
            <a class="href-button" href="{% pageurl landing_page %}">Главная</a>
            <a class="href-button" href="{% pageurl landing_page %}#my-experience-anchor">Мой опыт</a>
            <a class="href-button" href="{% pageurl landing_page %}#my-services-anchor">Услуги</a>
            <a class="href-button" href="{% pageurl landing_page %}#my-contacts-anchor">Контакты</a>
            <a class="href-button" href="{% pageurl blog %}">Статьи</a>
        </section>
        <section class="width-30">
            <div class="google-appointment-marker"></div>
        </section>
    </section>
</header>