{% load wagtailcore_tags %}
<nav class="navbar" id="top-page-mobile">
    <div class="container">
        <div class="navbar__wrap">
            <div class="hamb">
                <div class="hamb__field" id="hamb">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </div>
            <ul class="menu" id="menu">
                <li><a class="href-button" href="{% pageurl landing_page %}">Главная</a></li>
                <li><a class="href-button" href="{% pageurl landing_page %}#my-experience-anchor-mobile">Мой опыт</a></li>
                <li><a class="href-button" href="{% pageurl landing_page %}#my-contacts-anchor">Контакты</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="popup" id="popup"></div>