{% extends 'a_blog/blog_layout.html' %}

{% load wagtailcore_tags ru_plural responsive_images %}

{% load static %}

{% block scripts %}
    <script defer src="{% static 'js/libraries/bundled_libraries.js' %}"></script>
    <script defer src="{% static 'js/article/bundled_article.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="width-90 article-page-div">
        <div class="max-width image-reveal" style="overflow: hidden; display: inline-block">
            {% responsive_image page.specific.image classes="max-width img-16-9-cover border-radius-25 prevent-selection-img" %}
        </div>
        <p class="article-page-p-font">
            {{ page.time_to_read }} {{ page.time_to_read|ru_minute }} на чтение
        </p>
        <h1 class="article-page-h-font zero-margin-bottom">
            {{ page.title }}
        </h1>
        <p class="article-page-p-font">
            {{ page.intro }}
        </p>
        <div class="author-div max-width">
            {% responsive_image author.profile_image classes="circle-img author-image img-square-cover prevent-selection-img" %}
            <div class="author-vertical-div margin-left-2">
                <p class="article-page-p-font zero-margin">
                    Написал
                </p>
                <p class="article-page-h-font zero-margin">
                    {{ author.name }} {{ author.surname }}
                </p>
            </div>
        </div>
        <div class="article-body max-width">
            {% for block in page.body %}
                {% if block.block_type == 'paragraph' %}
                    {{ block.value|richtext }}
                {% elif block.block_type == 'custom_image' %}
                    {% responsive_image block.value.image classes="max-width img-16-9-cover border-radius-25 prevent-selection-img" %}
                {% elif block.block_type == 'quote' %}
                    <blockquote class="article-quote">
                        {{ block.value.text|richtext }}
                    </blockquote>
                {% elif block.block_type == 'iframe' %}
                    <div class="article-iframe-wrapper">
                        <iframe
                            src="{{ block.value.src }}"
                            {% if block.value.allow_fullscreen %}allowfullscreen{% endif %}>
                        </iframe>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="max-width-90 column-directive">
        <section class="shared-black-button border-radius-10 margin-top-2">
            <a class="shared-black-button__a black-button-padding" href="{{ page.get_parent.url }}">
                Вернуться
            </a>
        </section>
    </div>
{% endblock %}