{% extends 'a_blog/blog_layout.html' %}

{% load wagtailcore_tags ru_plural responsive_images %}

{% block content %}
    <div class="width-90 article-page-div">
        {% responsive_image page.specific.image classes="max-width img-16-9-cover border-radius-25 prevent-selection-img" %}
        <p class="article-page-p-font">
            {{ page.time_to_read }} {{ page.time_to_read|ru_minute }} на чтение
        </p>
        <h1 class="article-page-h-font zero-margin-bottom">
            {{ page.title }}
        </h1>
        <p class="article-page-p-font">
            {{ page.intro }}
        </p>
        <div class="author-div max-width">
            {% responsive_image author.profile_image classes="circle-img author-image img-square-cover prevent-selection-img" %}
            <div class="author-vertical-div margin-left-2">
                <p class="article-page-p-font zero-margin">
                    Написал
                </p>
                <p class="article-page-h-font zero-margin">
                    {{ author.name }} {{ author.surname }}
                </p>
            </div>
        </div>
        <div class="article-body max-width">
            {{ page.body|richtext }}
        </div>
    </div>
    <div class="max-width-90 column-directive">
        <section class="shared-black-button border-radius-10 margin-top-2">
            <a class="shared-black-button__a black-button-padding" href="{{ page.get_parent.url }}">
                Вернуться
            </a>
        </section>
    </div>
{% endblock %}