{% extends 'blog_layout/blog_layout.html' %}

{% load wagtailcore_tags ru_plural %}

{% block class %}article{% endblock %}

{% block content %}
    <div class="width-90 margin-top-2">
        <img
                class="max-width img-16-9-cover border-radius-25 prevent-selection-img"
                draggable="false"
                src="{{ page.specific.image.file.url }}"
                alt="{{ page.specific.image.title }}"
        >
        <p class="article-page-p-font">
            {{ page.time_to_read }} {{ page.time_to_read|ru_minute }} на чтение
        </p>
        <h1 class="article-page-h-font zero-margin-bottom">
            {{ page.title }}
        </h1>
        <p class="article-page-p-font">
            {{ page.intro }}
        </p>
        <div class="author-div max-width">
            <img
                    class="circle-img width-8 img-square-cover prevent-selection-img"
                    src="/static/images/portrait.jpg"
                    alt=""
                    draggable="false">
            <div class="author-vertical-div margin-left-2">
                <p class="article-page-p-font zero-margin">
                    Написал
                </p>
                <p class="article-page-h-font zero-margin">
                    Егор Иванов
                </p>
            </div>
        </div>
        <p>{{ page.body|richtext }}</p>
    </div>
    <section class="shared-black-button border-radius-10 margin-top-2">
        <a class="shared-black-button__a padding-top-bottom-05vw" href="{{ page.get_parent.url }}">
            Вернуться
        </a>
    </section>
{% endblock %}