{% extends 'blog_layout/blog_layout.html' %}

{% load wagtailcore_tags %}

{% block class %}blog bg-black text-white{% endblock %}

{% block content %}

    <div class="max-w-[1600px] mx-auto px-8 py-24">

        <h1>{{ page.title }}</h1>
        <p>{{ page.body|richtext }}</p>

        <div class="grid mt-8 gap-12 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

            <article class="relative rounded-2xl border border-gray-500 hover:border-gray-400 bg-neutral-900 ">
                <a href="" class="flex flex-col justify-between h-full p-4">
                    <div>
                        <h2>Wagtail</h2>
                        <p>The awesome open-source Python CMS</p>
                    </div>
                    <div>
                        <p class="text-sm text-neutral-500">Jan. 1, 2025</p>
                        <figure class="mb-4">
                            <img class="w-full rounded-lg" src="https://res.cloudinary.com/dpuzdancn/image/upload/f_auto,q_auto/v1/static/rqjdfehtdc0xoj5jpmmv">
                        </figure>
                        <span class="hover:underline">Read more</span>
                    </div>
                </a>
            </article>

            <article class="relative rounded-2xl border border-gray-500 hover:border-gray-400 bg-neutral-900 ">
                <a href="" class="flex flex-col justify-between h-full p-4">
                    <div>
                        <h2>Wagtail</h2>
                        <p>The awesome open-source Python CMS</p>
                    </div>
                    <div>
                        <p class="text-sm text-neutral-500">Jan. 1, 2025</p>
                        <figure class="mb-4">
                            <img class="w-full rounded-lg" src="https://res.cloudinary.com/dpuzdancn/image/upload/f_auto,q_auto/v1/static/rqjdfehtdc0xoj5jpmmv">
                        </figure>
                        <span class="hover:underline">Read more</span>
                    </div>
                </a>
            </article>

            <article class="relative rounded-2xl border border-gray-500 hover:border-gray-400 bg-neutral-900 ">
                <a href="" class="flex flex-col justify-between h-full p-4">
                    <div>
                        <h2>Wagtail</h2>
                        <p>The awesome open-source Python CMS</p>
                    </div>
                    <div>
                        <p class="text-sm text-neutral-500">Jan. 1, 2025</p>
                        <figure class="mb-4">
                            <img class="w-full rounded-lg" src="https://res.cloudinary.com/dpuzdancn/image/upload/f_auto,q_auto/v1/static/rqjdfehtdc0xoj5jpmmv">
                        </figure>
                        <span class="hover:underline">Read more</span>
                    </div>
                </a>
            </article>

            <article class="relative rounded-2xl border border-gray-500 hover:border-gray-400 bg-neutral-900 ">
                <a href="" class="flex flex-col justify-between h-full p-4">
                    <div>
                        <h2>Wagtail</h2>
                        <p>The awesome open-source Python CMS</p>
                    </div>
                    <div>
                        <p class="text-sm text-neutral-500">Jan. 1, 2025</p>
                        <figure class="mb-4">
                            <img class="w-full rounded-lg" src="https://res.cloudinary.com/dpuzdancn/image/upload/f_auto,q_auto/v1/static/rqjdfehtdc0xoj5jpmmv">
                        </figure>
                        <span class="hover:underline">Read more</span>
                    </div>
                </a>
            </article>

        </div>

    </div>

{% endblock %}
