{% extends 'blog_layout/blog_layout.html' %}

{% load wagtailcore_tags wagtailimages_tags ru_plural %}

{% block class %}blog bg-black text-white{% endblock %}

{% block content %}
    <div class="max-width-90 margin-top-2">
        <div class="blog-grid">
            {% for article in articles %}
                <div>
                    <img class="blog-article-image border-radius-25" src="{{ article.specific.image.file.url }}" alt="{{ article.specific.image.title }}">
                    <div class="grid-title-container">
                        <h2 class="blog-grid-text__header">
                            {{ article.title }}
                        </h2>
                        <a class="width-10" href="{% pageurl article %}" target="_blank" style="text-decoration: none;">
                            <div class="align-centered max-width black-border border-radius-10 black-background animated-block">
                                <img class="width-60 padding-top-bottom-08vw" src="/static/images/right-arrow-1.svg" alt="link to the article">
                            </div>
                        </a>
                    </div>
                    <div class="grid-date-time-container width-60">
                        <p class="blog-grid-text__p zero-margin">
                            {{ article.specific.date|date:"j E Y"  }}
                        </p>
                        <span class="blog-grid-text__p zero-margin">
                            •
                        </span>
                        <p class="blog-grid-text__p zero-margin">
                            {{ article.specific.time_to_read }} {{ article.specific.time_to_read|ru_minute }} на чтение
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}