{% load wagtailcore_tags ru_plural responsive_images %}

<div class="max-width-90 column-directive margin-top-2">
    <section class="shared-header-div margin-top-4">
        <h2 class="shared-header-div__header">
            Мои статьи
        </h2>
    </section>
    <div class="blog-grid margin-top-2">
        {% for article in articles.all %}
            <div>
                <div class="max-width overflow-hidden border-radius-25">
                    {% responsive_image article.specific.image classes="blog-article-image scale-animation-img prevent-selection-img" %}
                </div>
                <div class="grid-title-container">
                    <h2 class="blog-grid-text__header">
                        {{ article.title }}
                    </h2>
                    <a class="width-10" href="{% pageurl article %}" style="text-decoration: none;">
                        <div class="align-centered max-width black-border border-radius-10 black-background animated-block">
                            <img
                                    class="width-60 padding-top-bottom-08vw prevent-selection-img"
                                    src="{{ static_images.right_arrow_blog_entity_svg }}"
                                    alt="link to the article"
                                    draggable="false"
                            >
                        </div>
                    </a>
                </div>
                <div class="grid-date-time-container width-60">
                    <p class="blog-grid-text__p zero-margin">
                        {{ article.specific.date|date:"j E Y"  }}
                    </p>
                    <span class="blog-grid-text__p zero-margin">
                        •
                    </span>
                    <p class="blog-grid-text__p zero-margin">
                        {{ article.specific.time_to_read }} {{ article.specific.time_to_read|ru_minute }} на чтение
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    <section class="shared-black-button border-radius-10 margin-top-2">
        <a class="shared-black-button__a black-button-padding" href="{{ articles.first.get_parent.specific.url }}">Все статьи</a>
    </section>
</div>