<section class="pagination-container margin-top-auto">
    {% if articles.has_previous %}
        <a class="pagination-a-container align-right-side" href="?page={{ articles.previous_page_number }}">
            <img
                    class="width-40 prevent-selection-img"
                    src="{{ static_images.pagination_left_arrow_svg }}"
                    alt="previous page"
                    draggable="false"
                    loading="lazy"
            >
        </a>
    {% endif %}
    <span class="align-centered black-border border-radius-10 black-background pagination-span padding-top-bottom-05vw">
        {{ articles.number }}
    </span>
    {% if articles.has_next %}
        <a class="pagination-a-container align-left-side" href="?page={{ articles.next_page_number }}">
            <img
                    class="width-40 prevent-selection-img"
                    src="{{ static_images.pagination_right_arrow_svg }}"
                    alt="next page"
                    draggable="false"
                    loading="lazy"
            >
        </a>
    {% endif %}
</section>