{% extends 'a_blog/blog_layout.html' %}

{% load wagtailcore_tags wagtailimages_tags ru_plural %}

{% block content %}
    <div class="max-width-90 margin-top-2 column-directive min-height-70vw">
        <div class="blog-grid">
            {% for article in articles %}
                <div>
                    <div class="max-width overflow-hidden border-radius-25">
                        <img class="blog-article-image scale-animation-img prevent-selection-img"
                             draggable="false"
                             src="{{ article.specific.image.file.url }}"
                             alt="{{ article.specific.image.title }}"
                        >
                    </div>
                    <div class="grid-title-container">
                        <h2 class="blog-grid-text__header">
                            {{ article.title }}
                        </h2>
                        <a class="width-10" href="{% pageurl article %}" target="_blank" style="text-decoration: none;">
                            <div class="align-centered max-width black-border border-radius-10 black-background animated-block">
                                <img
                                        class="width-60 padding-top-bottom-08vw prevent-selection-img"
                                        src="/static/images/right-arrow-1.svg"
                                        alt="link to the article"
                                        draggable="false"
                                >
                            </div>
                        </a>
                    </div>
                    <div class="grid-date-time-container width-60">
                        <p class="blog-grid-text__p zero-margin">
                            {{ article.specific.date|date:"j E Y"  }}
                        </p>
                        <span class="blog-grid-text__p zero-margin">
                            •
                        </span>
                        <p class="blog-grid-text__p zero-margin">
                            {{ article.specific.time_to_read }} {{ article.specific.time_to_read|ru_minute }} на чтение
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <section class="pagination-container width-30 margin-top-auto">
            {% if articles.has_previous %}
                <a class="width-30 align-right-side" href="?page={{ articles.previous_page_number }}">
                    <img
                            class="width-40 prevent-selection-img"
                            src="/static/images/pag_left_arrow.svg"
                            alt="previous page"
                            draggable="false"
                    >
                </a>
            {% endif %}
            <span class="width-10 align-centered black-border border-radius-10 black-background pagination-span padding-top-bottom-05vw">
                {{ articles.number }}
            </span>
            {% if articles.has_next %}
                <a class="width-30 align-left-side" href="?page={{ articles.next_page_number }}">
                    <img
                            class="width-40 prevent-selection-img"
                            src="/static/images/pag_right_arrow.svg"
                            alt="next page"
                            draggable="false"
                    >
                </a>
            {% endif %}
        </section>
    </div>
{% endblock %}