<div class="max-width-90 column-directive">
        <section class="shared-header-div margin-top-4">
            <h2 class="shared-header-div__header">
                Консультации
            </h2>
        </section>
        <section class="shared-header-div">
            <p class="shared-header-div__p">
                Вы можете приобрести сертификат для себя, близких или друзей
            </p>
        </section>
        <section class="certificates-card-grid max-width">
            {% for block in certificates_block.all %}
                {% include "main_landing/certificates_block/certificates_single_block.html" %}
            {% endfor %}
        </section>
    </div>