<section class="services-single-card-div black-border max-width border-radius-20">
    <section class="services-single-card-div__title-div">
        <h3 class="services-single-card-div__title-div__h3">
            {{ service.title }}
        </h3>
    </section>
    <section class="services-single-card-div__inverted-div">
        <ul class="services-single-card-div__services-ul">
            {% for li in service.services_list.all %}
                {% include "main_landing/services_block/service_li.html" %}
            {% endfor %}
        </ul>
    </section>
</section>