<section class="xp-docs-single-div blue-background border-radius-20">
    <div class="xp-docs-header-arrows-div max-width">
        <h3 class="xp-docs-single-div__header">
            Мои сертификаты
        </h3>
        <div class="width-30 arrows-container">
            <img class="width-30" src="/static/images/left-arrow-thin.svg">
            <img class="width-30" src="/static/images/right-arrow-thin.svg">
        </div>
    </div>
    <h2 class="xp-docs-single-div__p">
        Курс: Искусство речи
    </h2>
    <p class="xp-docs-single-div__p">
        Платформа: Творческое объединение Культура Речи
    </p>
    <p class="xp-docs-single-div__p">
        Дата окончания: 2024
    </p>
    <p class="xp-docs-single-div__p">
        Полученные навыки:
    </p>
    <ul>
        <li class="xp-docs-single-div__p">
            Уверенная публичная речь
        </li>
        <li class="xp-docs-single-div__p">
            Работа с голосом и дыханием
        </li>
        <li class="xp-docs-single-div__p">
            Структурирование презентаций
        </li>
    </ul>
</section>