<section
        class="xp-docs-single-div blue-background border-radius-20"
>
    <div class="xp-docs-header-arrows-div max-width margin-top-1">
        <h3 class="xp-docs-single-div__header">
            Мои сертификаты
        </h3>
        <div class="width-30 arrows-container">
            <img
                    id="prev-course"
                    class="width-30 prevent-selection-img"
                    src="/static/images/left-arrow-thin.svg"
                    draggable="false"
            >
            <img
                    id="next-course"
                    class="width-30 prevent-selection-img"
                    src="/static/images/right-arrow-thin.svg"
                    draggable="false"
            >
        </div>
    </div>
    <article id="courses-container" class="width-90 margin-left-1">

    </article>
</section>