{% load typogrify_text %}
<article class="max-width black-border border-radius-20 faq-block-separator">
    <section class="faq-question-block cursor-pointer">
        <h4 class="faq-header margin-left-2">{{ faq.faq_question|typogrify_filter|safe }}</h4>
        <img
                class="faq-img-sizer margin-right-2 toggle-faq prevent-selection-img cursor-pointer"
                draggable="false"
                src="{{ static_images.plus_faq_svg }}"
                alt="plus icon"
                loading="lazy"
        >
    </section>
    <p class="faq-p margin-left-2 faq-p-hidden zero-margin-top">{{ faq.faq_answer|typogrify_filter|safe }}</p>
</article>