{% load responsive_images %}
<div class="max-width-90 column-directive desktop-marker">
        <section class="shared-header-div margin-top-4" id="my-experience-anchor">
            <h2 class="shared-header-div__header">
                Многолетний опыт
            </h2>
        </section>
        <section class="xp-grid max-width">
            <section class="hours-single-div hours-single-div__1 black-border border-radius-20">
                <p class="hours-single-div__p">
                    Более {{ xp_block.hours_with_clients }} часов с клиентами
                </p>
            </section>
            <section class="hours-single-div hours-single-div__2 black-border border-radius-20">
                <p class="hours-single-div__p">
                    Более {{ xp_block.hours_of_studying }} часов обучения
                </p>
            </section>
            {% include "main_landing/xp_block/desktop/xp_certificates_card.html" %}
            <section class="xp-about-me-div black-border border-radius-20">
                <h3 class="xp-about-me-div__header">
                    Несколько фактов обо мне
                </h3>
                <div class="xp-about-me-div__img border-radius-20 overflow-hidden">
                    {% responsive_image xp_block.profile_facts_picture classes="scale-animation-img max-width prevent-selection-img" %}
                </div>
                <ul>
                    {% for li in xp_block.facts_pieces.all %}
                        {% include "main_landing/xp_block/desktop/xp_li.html" %}
                    {% endfor %}
                </ul>
            </section>
            <section class="xp-quote-div">
                <div class="xp-quote-svg">
                    <img class="max-width" src="/static/images/quotes.svg">
                </div>
                <p class="xp-quote-div__p">«{{ xp_block.my_quote }}»</p>
            </section>
        </section>
    </div>