{% load responsive_images %}
<div class="max-width-90">
    <section class="my-main-block-div">
        <section class="main-block-image-div border-radius-20 overflow-hidden">
            {% responsive_image main_block.title_image classes="main-block-image-div__img scale-animation-img prevent-selection-img" %}
        </section>
        <section class="main-block-about-div">
            <section class="main-block-author-div white-background black-border border-radius-20">
                <div class="main-block-author-div__name-div">
                    <h2 class="main-block-author-div__name-div__h2">{{ main_block.name }}</h2>
                    <h2 class="main-block-author-div__name-div__h2">{{ main_block.surname }}</h2>
                </div>
                <div class="main-block-quotes-div">
                    <img
                            class="max-width prevent-selection-img"
                            src="{{ static_images.quotes_svg }}"
                            draggable="false"
                            alt="quotes"
                            loading="lazy"
                    >
                </div>
                <div class="main-block-author-div__thoughts-div">
                    <p class="main-block-author-div__thoughts-div__p zero-margin-top">
                        {{ main_block.my_quote }}
                    </p>
                </div>
            </section>
            <section class="main-block-achievements-div">
                <section class="main-block-education-div black-border border-radius-20">
                    <h2 class="main-block-education-div__title">Образование</h2>
                    <ul class="main-block-education-div__ul">
                        {% for education in main_block.education_pieces.all %}
                            {% include "main_landing/my_main_block/education_template.html" %}
                        {% endfor %}
                    </ul>
                </section>
                <section class="main-block-hours-div black-border border-radius-20">
                    <section class="main-block-hours-div__aligner">
                        <h2 class="main-block-hours-div__aligner__hours">{{ main_block.hours }}+</h2>
                        <p class="main-block-hours-div__aligner__comments">часов с клиентами</p>
                    </section>
                </section>
            </section>
        </section>
    </section>
</div>